En esta notebook entrenaremos y evaluaremos diferentes modelos para predecir la variable target "survived"

In [24]:
# importo todas las librerías necesarias
import pandas as pd
import matplotlib.pyplot as plt
import math
import seaborn as sns

In [25]:
data='./db/titanic/train_clean.csv'
df_train = pd.read_csv(data ,sep='\t', encoding='utf-8')
df_train.head(10)

,Unnamed: 0,survived,age,fare,pclass_2,pclass_3,sex_male,sibsp_1,sibsp_2,sibsp_3,sibsp_4,sibsp_5,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,embarked_Q,embarked_S
0,0,0,22.0,7.2500,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,1
1,1,1,38.0,71.2833,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,2,1,26.0,7.9250,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,3,1,35.0,53.1000,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,1
4,4,0,35.0,8.0500,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1
5,6,0,54.0,51.8625,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
6,7,0,2.0,21.0750,0,1,1,0,0,1,0,0,1,0,0,0,0,0,0,1
7,8,1,27.0,11.1333,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,1
8,9,1,14.0,30.0708,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
9,10,1,4.0,16.7000,0,1,0,1,0,0,0,0,1,0,0,0,0,0,0,1

Importo los datos de test y aplico los mismos cambios que a los datos de train.

In [37]:
df_test.head()

,age,fare,pclass_2,pclass_3,sex_male,sibsp_1,sibsp_2,sibsp_3,sibsp_4,sibsp_5,sibsp_8,parch_1,parch_2,parch_3,parch_4,parch_5,parch_6,embarked_Q,embarked_S
0,34.5,7.8292,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
1,47.0,7.0000,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
2,62.0,9.6875,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0
3,27.0,8.6625,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,22.0,12.2875,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,0,1

In [26]:
data_test='./db/titanic/test.csv'
df_test = pd.read_csv(data_test , encoding='utf-8')
df_test.describe

<bound method NDFrame.describe of      PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

[418 rows x 11 columns]>

In [27]:
df_test.columns = [df.columns[i].lower() for i in range(len(df.columns))]
df_test.drop('cabin',axis=1,inplace=True)
df_test.drop(df_test[df_test.age.isna()].index, axis=0, inplace=True)
df_test.drop(columns=['passengerid','name','ticket'],axis=1,inplace=True)
df_test = pd.get_dummies(df_test, columns=['pclass','sex','sibsp','parch','embarked'],drop_first=True)

In [32]:
df_test.fare.describe()

count    331.000000
mean      40.982087
std       61.228558
min        0.000000
25%        8.050000
50%       16.000000
75%       40.633350
max      512.329200
Name: fare, dtype: float64

In [ ]:
df_test.fare

Comenzamos con un modelo de regresión logística

In [36]:
df_test.survived

AttributeError: 'DataFrame' object has no attribute 'survived'

In [35]:
sns.violinplot(
    x='fare', 
    y='survived', 
    data=df_test, 
    color='blue');

ValueError: Could not interpret input 'survived'